@import "@/variable.scss";
.projects {
  position: relative;
  display: flex;
  width: 90%;
  height: 1000px;
  justify-content: space-between;
  align-items: center;
  .project {
    width: 40%;
    height: 70%;
    border: 1px $gray2 solid;
    padding: 2%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: auto;
    overflow-wrap: break-word;
    word-break: keep-all;
    background-color: $white;
    &::-webkit-scrollbar {
      visibility: hidden;
    }
    > div {
      text-align: center;
      font-size: 12pt;
    }
    .name {
      height: 50px;
      font-weight: 700;
      line-height: 50px;
      font-size: 15pt;
    }
    .img > img {
      max-height: 350px;
      width: 100%;
      margin: 10px 0px;
    }
    .env {
      width: 100%;
      height: fit-content;
      max-height: 40%;
      justify-content: center;
      align-items: center;
      .env-item {
        width: fit-content;
        background-color: $gray1;
        border-radius: 10px;
        border: 1px $gray1 solid;
      }
      > span {
        margin: 5px;
        line-height: 20pt;
      }
    }
    .subMenu {
      display: flex;
      width: 100%;
      height: 50px;
      justify-content: space-between;
      align-items: center;
      .icons {
        display: flex;
        width: 30%;
        justify-content: right;
        > div > a > img {
          width: 30px;
          &:hover {
            cursor: pointer;
            filter: opacity(50%);
          }
        }
      }
    }
    .explanation {
      width: 100%;
      margin-top: 10px;
      overflow: auto;
    }
  }
  > .moveButton {
    max-width: 8%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    > img {
      position: relative;
      filter: drop-shadow(0px 0px 3px #fff) invert(1);
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
  }
}
