@import '@/variable.scss';
.profile-badge {
    position: relative;
    width: 100%;
    height: 56px;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    border: $gray1 1px solid;
    border-radius: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space:nowrap;
    padding: 10px;
    background-color: $white;
    max-width: 900px;
    .badges {
        height: 30px;
        margin-right:10px;
    }
}