@import '@/variable.scss';
.profile-intro {
    position: relative;
    font-size: 15pt;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 3% 0;
    background-color: white;
    box-shadow: 5px 5px 10px $gray1;
}