@import "@/variable.scss";
.profile-badge {
  position: relative;
  width: 100%;
  height: 56px;
  border: $gray1 1px solid;
  border-radius: 50px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 10px;
  background-color: $white;
  max-width: 900px;
  box-shadow: 5px 5px 10px $gray1;
  .badges {
    height: 30px;
    margin-right: 10px;
  }
}
