.profile {
    position:relative;
    width: 60%;
    height:1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    >div {
        margin: 1% 0;
    }
}