header {
    position:fixed;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    .header-background {
        position:absolute;
        width: 90%;
        height: 10px;
        left: 50%;
        bottom: 0%;
        transform: translate(-50%,-50%);
        background-color: #ddd;
    }
    .header-current {
        position:absolute;
        width:10%;
        height: 10px;
        left: 5%;
        bottom: 0%;
        transform: translateY(-50%);
        background-color: skyblue;
    }
    .header-future {
        position:absolute;
        width:90%;
        height: 10px;
        left: 50%;
        top: 50%;
        transform: translate(-150%,-50%);
    }
}